body {
    background-color: white;
    color: #404040;
    font-family: Georgia, Garamond, serif;
    font-size: 11pt;
}
a {
    color: #A4A400;
}
h1, h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-decoration: underline;
    letter-spacing: 0.25em; /* Extra feature #4: wide heading letters */
}
h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    display: block;
}
h2 {
    text-align: left;
    font-size: 18pt;
    font-weight: normal;
    display: table; /* Extra feature #5: shrinks bg to text width only */
}
abbr {
    text-decoration: underline;
    cursor: help;
}
blockquote {
    background-color: #FFFFA8;
    font-style: italic;
    margin-left: 2em;
    padding: 0.4em 0.8em;
}
pre {
    font-family: monospace;
}
